body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
.flexible{
    display: flex;
}
.fixed-width{
    width: 1300px;
    margin: auto;
}
.margin-top{
    margin-top: 10px;
}
.first-intro{
    width: 50%;
    padding: 164px;
}
.first-intro p{
    padding: 20px;
    padding-left: 0px;

}
.color{
    color: #e52385;
}
.first-person{
    width: 50%;
}
.second-section{
    background-image: url(images/female/Frame\ 58.png);
    background-repeat:no-repeat;
    background-position: center;
    height: 650px;
    background-size: cover;
    
    
    

}
.second-intro{
    display: inline-block;
    margin-left: 908px;
    margin-top: 273px;
  
}
.second-intro p{
    padding:10px 0px 10px
}


.botton{
    text-decoration: none;
    background-image: linear-gradient(#fe492d,#fd7446);
    padding: 16px 34px;
    border-radius: 40px;
    box-shadow:6px 5px 12px grey;
    color:#ddd
}

.main-container{
    display: flex;
    margin-top: 50px;
    

}
.container-item{
    width: 33.3%;
    padding: 20px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 1px 1px 30px rgb(235, 232, 232);
    

}

    


.image-container img{
    width:100%
    
}


.reciepe-intro{
    text-align: center;
    margin-top: 40px;

}
.social-section{
    display: flex;
    text-align: center;
    box-shadow: 1px 1px 20px #e4e1e1;
    border-radius: 50px;
    padding: 20px;
    margin-top: 60px;
   

}
.social-section-item{
    width: 33.3%;

}
.social-section-item h1{
    margin-top: 8px;

}
.footer{
    background-color: #0b0d17;
    text-align: center;
    color: ivory;
    margin-top: 50px;
   
}
.footer h1{
    color:#5b5b5b;
    display: inline-block;
    text-shadow: 1px 1px 42px grey;
    
}
.footer h1 span{
    color: #fb8e48;
}
small{
    font-size:13px;
}
